html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #1c1c1c;
}
header {
  margin: 0%;
}
nav ul {
  list-style-type: none;
  margin-left: 0%;
  background-color: #4A4A4A;
  overflow: hidden;
}
nav li{
  float:left;
  margin-right: 2em;
  margin-left:0%;
  font-size: 2rem;
  color: #E6E6E6;
  

}

#activated {
  opacity: .7;
}

background colors: black #010101, nero #1c1c1c, Charcoal #4A4A4A, Dim Gray #6D6D6D, Gainsboror #E6E6E6